/* .card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(146, 143, 143);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card #madaragif {
  max-width: 70%;
  height:auto;
  border-radius: 50%;
}
.card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
} */

/* .button{
  background-color: hsl(196, 92%, 49%);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

/* .student{
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid hsla(0, 3%, 6%, 0.736);
  margin: 5px;
  max-width: fit-content;
}

.student p{
  margin: 3px;
} */

.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  border: 3px solid;
  border-radius: 10px;
  text-align: center;
  background-color: hwb(35 5% 7% / 0.785);
}

.list-items li{
  font-size: 1.3em;
  list-style: none;
  text-align: center;
  color: hsla(0, 0%, 0%, 0.715);
}
.list-items li:hover{
  color: hsla(0, 96%, 37%, 0.7);;
}